<header>
    <div class="logo-container">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/Brand/logo.png' | relative_url }}" alt="Lombard Academy Logo" class="logo-image">
        </a>
        <span class="site-title">Lombard Academy</span>
    </div>
    <div class="contact-info" style="margin-top: 10px; font-size: 1rem;">
        <span>📞 <a href="tel:6467251983" style="color: inherit; text-decoration: none;">646-725-1983</a></span> |
        <span>✉️ <a href="mailto:academylombard@gmail.com" style="color: inherit; text-decoration: none;">academylombard@gmail.com</a></span>
    </div>

    <!-- Banner Section >
    < div class="banner-container">
        <img src="{{ '/assets/images/Brand/linkedin_banner_image_1.png' | relative_url }}" alt="Lombard Academy Banner" class="banner-image">
    </div--> 

    <button id="menu-toggle" onclick="toggleMenu()">Menu</button>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about' | relative_url }}">About Us</a></li>
            <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
            <li><a href="{{ '/resources' | relative_url }}">Resources</a></li>
        </ul>
    </nav>
</header>

